# L5 ‚Äî Data Wrangling con Pandas (Bank Marketing ‚Äì UCI)

## üìç Situaci√≥n inicial
Una empresa fintech recibe datos desde m√∫ltiples fuentes; los datos llegan desordenados, con nulos y duplicados, lo que afecta la precisi√≥n de los reportes. Se requiere un proceso de **Data Wrangling con Pandas** para limpiar, transformar e integrar los datos en un √∫nico DataFrame de calidad. :contentReference[oaicite:0]{index=0}

## üéØ Objetivo
Aplicar un flujo reproducible de **carga, limpieza, transformaci√≥n y optimizaci√≥n** de datos con Pandas para dejar un dataset listo para an√°lisis y reportes. :contentReference[oaicite:1]{index=1}1)

## üóÇÔ∏è Dataset
Trabajaremos con **Bank Marketing (UCI)**, que contiene variables demogr√°ficas y de contacto de clientes bancarios. (CSV √∫nico para todo el caso).

## üõ†Ô∏è Instrucciones
1. **Carga y exploraci√≥n de datos**  
   - Importa el CSV en un DataFrame.  
   - Explora con `.head()`, `.info()` y `.describe()`.  
   - Identifica **valores nulos** y **duplicados**. :contentReference[oaicite:2]{index=2}
2. **Limpieza y transformaci√≥n de datos**  
   - Imputa nulos con una estrategia adecuada (**media**, **mediana** o **moda**).  
   - Elimina registros **duplicados**.  
   - Convierte categ√≥ricas a num√©ricas si es necesario (p. ej., *yes/no* ‚Üí 1/0). :contentReference[oaicite:3]{index=3}
3. **Optimizaci√≥n y estructuraci√≥n**  
   - Aplica `groupby` + **agregaciones**.  
   - Realiza **filtros** para obtener subconjuntos de inter√©s.  
   - **Renombra** y **reorganiza** columnas para mejorar la interpretaci√≥n. :contentReference[oaicite:4]{index=4}
4. **Exportaci√≥n**  
   - Guarda el DataFrame procesado en **CSV** (sin √≠ndice).  
   - Exporta los datos limpios a **Excel**. :contentReference[oaicite:5]{index=5}

## üì¨ Entregables
1) **C√≥digo en Python** con la implementaci√≥n.  
2) **Explicaci√≥n t√©cnica** paso a paso y justificaci√≥n.  
3) **Ejemplo antes vs. despu√©s** de la transformaci√≥n.  
4) **Conclusiones** sobre la importancia del Data Wrangling en la calidad de los datos. :contentReference[oaicite:6]{index=6}

1) Carga y exploraci√≥n para pegar como una sola celda en Colab (dataset: Bank Marketing ‚Äì UCI).

In [4]:
# 1) Carga y exploraci√≥n ‚Äî Bank Marketing (UCI) (bank-additional-full)
import pandas as pd

URL = "https://raw.githubusercontent.com/alexkataev/Case-Study-UCI-Bank-Marketing-Dataset/refs/heads/main/data/bank-additional-full.csv"
df = pd.read_csv(URL, sep=';', low_memory=False)
print("‚úÖ CSV cargado | shape:", df.shape)

# Exploraci√≥n r√°pida
print("\n== head(5) ==")
print(df.head())

print("\n== info() ==")
print(df.info())

print("\n== describe(num√©rico) ==")
num_desc = df.select_dtypes(include='number').describe().T
print(num_desc)

# Nulos reales (NaN)
print("\n== Nulos por columna (NaN) ==")
print(df.isna().sum().sort_values(ascending=False).head(20))

# 'unknown' en categ√≥ricas (nulos sem√°nticos)
obj_cols = df.select_dtypes(include='object').columns
unknown_counts = df[obj_cols].apply(lambda s: s.str.lower().eq('unknown').sum())
print("\n== Conteo de 'unknown' por columna categ√≥rica ==")
print(unknown_counts.sort_values(ascending=False).head(20))

# Duplicados
print("\n== Total de filas duplicadas ==")
print(df.duplicated().sum())

‚úÖ CSV cargado | shape: (41188, 21)

== head(5) ==
   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

== info() ==
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

== describe(num√©rico) ==
                  count         mean         std       min       25%  \
age             41188.0    40.024060   10.421250    17.000    32.000
duration        41188.0   258.285010  259.279249     0.000   102.000
campaign        41188.0     2.567593    2.770014     1.000     1.000
pdays           41188.0   962.475454  186.910907     0.000   999.000
previous        41188.0     0.172963    0.494901     0.000     0.000
emp.var.rate    41188.0     0.081886    1.570960    -3.400    -1.800
cons.price.idx  41188.0    93.575664    0.578840    92.201    93.075
cons.conf.idx   41188.0   -40.502600    4.628198   -50.800   -42.700
euribor3m       41188.0     3.621291    1.734447     0.634     1.344
nr.employed     41188.0  5167.035911   72.251528  4963.600  5099.100

                     50%       75%       max
age               38.000    47.000    98.000
duration         180.000   319.000  4918.000
campaign           2.000     3.000    56.000
pdays            999.000   999.000   999.000
previous           0.000     0.000     7.000
emp.var.rate       1.100     1.400     1.400
cons.price.idx    93.749    93.994    94.767
cons.conf.idx    -41.800   -36.400   -26.900
euribor3m          4.857     4.961     5.045
nr.employed     5191.000  5228.100  5228.100

== Nulos por columna (NaN) ==
age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
dtype: int64

== Conteo de 'unknown' por columna categ√≥rica ==
default        8597
education      1731
housing         990
loan            990
job             330
marital          80
contact           0
month             0
day_of_week       0
poutcome          0
y                 0
dtype: int64

== Total de filas duplicadas ==
12

2) Limpieza y transformaci√≥n ‚Äî Bank Marketing (UCI)

In [5]:
# 2) Limpieza y transformaci√≥n ‚Äî Bank Marketing (UCI)
import pandas as pd

print("== 2) Limpieza y transformaci√≥n ==")
df_clean = df.copy()

# 2.1 Imputar 'unknown' en columnas categ√≥ricas con la moda de cada columna
obj_cols = df_clean.select_dtypes(include='object').columns
before_unknown = df_clean[obj_cols].apply(lambda s: (s.str.lower() == 'unknown').sum())
print("\n[2.1] 'unknown' antes (top):")
print(before_unknown.sort_values(ascending=False).head(10))

for col in obj_cols:
    mask_unknown = df_clean[col].str.lower().eq('unknown')
    if mask_unknown.any():
        moda = df_clean.loc[~mask_unknown, col].mode()
        if not moda.empty:
            df_clean.loc[mask_unknown, col] = moda[0]

after_unknown = df_clean[obj_cols].apply(lambda s: (s.str.lower() == 'unknown').sum())
print("\n[2.1] 'unknown' despu√©s (deber√≠a ser 0 en las columnas imputadas):")
print(after_unknown.sort_values(ascending=False).head(10))

# 2.2 Eliminar duplicados (fila completa)
dup_count = df_clean.duplicated().sum()
df_clean = df_clean.drop_duplicates()
print(f"\n[2.2] Duplicados eliminados: {dup_count}")

# 2.3 Convertir yes/no -> 1/0 en columnas binarias clave
yn_cols = [c for c in ['default', 'housing', 'loan', 'y'] if c in df_clean.columns]
for c in yn_cols:
    df_clean[c] = df_clean[c].map({'yes': 1, 'no': 0}).astype('Int64')

print("\n[2.3] Mapeo yes/no aplicado en:", yn_cols)

# 2.4 Verificaci√≥n de tipos num√©ricos en columnas principales
num_cols = [c for c in ['age','duration','campaign','pdays','previous',
                        'emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']
            if c in df_clean.columns]
for c in num_cols:
    df_clean[c] = pd.to_numeric(df_clean[c], errors='coerce')

print("\n[2.4] dtypes (muestra):")
print(df_clean.dtypes.loc[yn_cols + num_cols].head(20))

print("\nShape final:", df_clean.shape)

== 2) Limpieza y transformaci√≥n ==

[2.1] 'unknown' antes (top):
default        8597
education      1731
housing         990
loan            990
job             330
marital          80
contact           0
month             0
day_of_week       0
poutcome          0
dtype: int64

[2.1] 'unknown' despu√©s (deber√≠a ser 0 en las columnas imputadas):
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
poutcome       0
dtype: int64

[2.2] Duplicados eliminados: 14

[2.3] Mapeo yes/no aplicado en: ['default', 'housing', 'loan', 'y']

[2.4] dtypes (muestra):
default             Int64
housing             Int64
loan                Int64
y                   Int64
age                 int64
duration            int64
campaign            int64
pdays               int64
previous            int64
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
dtype: object

Shape final: (41174, 21)

3) Optimizaci√≥n y estructuraci√≥n

In [6]:
# 3) Optimizaci√≥n y estructuraci√≥n
import pandas as pd

print("== 3) Optimizaci√≥n y estructuraci√≥n ==")

# 3.1 Selecci√≥n de columnas y renombrado a espa√±ol
cols = [
    'y','age','job','marital','education','default','housing','loan',
    'contact','month','day_of_week','duration','campaign','pdays','previous','poutcome',
    'emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed'
]
cols = [c for c in cols if c in df_clean.columns]

rename_map = {
    'y':'suscrito', 'age':'edad', 'job':'trabajo', 'marital':'estado_civil',
    'education':'educacion', 'default':'en_mora', 'housing':'hipoteca', 'loan':'prestamo',
    'contact':'contacto', 'month':'mes', 'day_of_week':'dia_semana',
    'duration':'duracion', 'campaign':'campana', 'pdays':'p_dias',
    'previous':'previas', 'poutcome':'resultado_prev',
    'emp.var.rate':'tasa_var_empleo', 'cons.price.idx':'indice_precio',
    'cons.conf.idx':'indice_confianza', 'euribor3m':'euribor3m',
    'nr.employed':'empleados'
}

df_ready = df_clean[cols].rename(columns=rename_map).copy()

# Orden de columnas
orden = [
    'suscrito','edad','trabajo','educacion','estado_civil','hipoteca','prestamo','en_mora',
    'contacto','mes','dia_semana','duracion','campana','p_dias','previas','resultado_prev',
    'tasa_var_empleo','indice_precio','indice_confianza','euribor3m','empleados'
]
df_ready = df_ready[[c for c in orden if c in df_ready.columns]]

print("\n[3.1] Vista (top 5) post renombrado/reorden:")
print(df_ready.head())

# 3.2 Segmentaci√≥n: tasa de suscripci√≥n por trabajo x educaci√≥n
if {'trabajo','educacion','suscrito'}.issubset(df_ready.columns):
    df_ready['suscrito'] = df_ready['suscrito'].astype('Int64')
    seg = (
        df_ready
        .groupby(['trabajo','educacion'], dropna=False)
        .agg(
            n=('suscrito','size'),
            edad_prom=('edad','mean'),
            duracion_med=('duracion','median'),
            tasa_suscripcion=('suscrito','mean')
        )
        .reset_index()
    )
    seg['edad_prom'] = seg['edad_prom'].round(1)
    seg['duracion_med'] = seg['duracion_med'].round(0)
    seg['tasa_suscripcion'] = (seg['tasa_suscripcion']*100).round(2)

    print("\n[3.2] Segmentos trabajo x educaci√≥n (Top por tasa de suscripci√≥n %):")
    print(seg.sort_values('tasa_suscripcion', ascending=False).head(10))
else:
    print("\n[3.2] No est√°n todas las columnas necesarias para el groupby de segmentos.")

# 3.3 Filtros de inter√©s
muestras = []

if {'edad','hipoteca'}.issubset(df_ready.columns):
    f1 = df_ready[(df_ready['edad'] >= 60) & (df_ready['hipoteca'] == 1)][
        ['edad','trabajo','educacion','hipoteca','suscrito']
    ].head(10)
    muestras.append(("Mayores de 60 con hipoteca=1", f1))

if {'duracion'}.issubset(df_ready.columns):
    f2 = df_ready[df_ready['duracion'] > 300][
        ['duracion','trabajo','educacion','suscrito']
    ].head(10)
    muestras.append(("Llamadas con duraci√≥n > 300s", f2))

if {'previas','resultado_prev'}.issubset(df_ready.columns):
    f3 = df_ready[(df_ready['previas'] > 0) & (df_ready['resultado_prev'].str.lower() != 'nonexistent')][
        ['previas','resultado_prev','trabajo','suscrito']
    ].head(10)
    muestras.append(("Clientes con contactos previos efectivos", f3))

for titulo, dfm in muestras:
    print(f"\n[3.3] {titulo} (muestra):")
    print(dfm)

# Resultado para exportaci√≥n en el punto 4
df_final = df_ready.copy()
print("\nShape df_final (listo para exportar):", df_final.shape)

== 3) Optimizaci√≥n y estructuraci√≥n ==

[3.1] Vista (top 5) post renombrado/reorden:
   suscrito  edad    trabajo    educacion estado_civil  hipoteca  prestamo  \
0         0    56  housemaid     basic.4y      married         0         0
1         0    57   services  high.school      married         0         0
2         0    37   services  high.school      married         1         0
3         0    40     admin.     basic.6y      married         0         0
4         0    56   services  high.school      married         0         1

   en_mora   contacto  mes  ... duracion  campana  p_dias  previas  \
0        0  telephone  may  ...      261        1     999        0
1        0  telephone  may  ...      149        1     999        0
2        0  telephone  may  ...      226        1     999        0
3        0  telephone  may  ...      151        1     999        0
4        0  telephone  may  ...      307        1     999        0

   resultado_prev tasa_var_empleo  indice_precio  indice_confianza  euribor3m  \
0     nonexistent             1.1         93.994             -36.4      4.857
1     nonexistent             1.1         93.994             -36.4      4.857
2     nonexistent             1.1         93.994             -36.4      4.857
3     nonexistent             1.1         93.994             -36.4      4.857
4     nonexistent             1.1         93.994             -36.4      4.857

   empleados
0     5191.0
1     5191.0
2     5191.0
3     5191.0
4     5191.0

[5 rows x 21 columns]

[3.2] Segmentos trabajo x educaci√≥n (Top por tasa de suscripci√≥n %):
          trabajo            educacion    n  edad_prom  duracion_med  \
38        retired           illiterate    3       54.7         128.0
55        student             basic.6y   13       21.5         293.0
18   entrepreneur           illiterate    2       51.0         462.0
58        student  professional.course   43       28.5         180.0
56        student             basic.9y   99       24.2         203.0
45  self-employed           illiterate    3       34.0         113.0
57        student          high.school  357       24.8         211.0
34        retired             basic.4y  597       64.4         190.0
54        student             basic.4y   26       22.8         225.0
59        student    university.degree  337       27.6         208.0

    tasa_suscripcion
38             66.67
55             53.85
18              50.0
58             39.53
56             35.35
45             33.33
57             31.93
34             30.99
54             30.77
59             27.89

[3.3] Mayores de 60 con hipoteca=1 (muestra):
      edad       trabajo          educacion  hipoteca  suscrito
288     60   blue-collar  university.degree         1         0
507     60        admin.  university.degree         1         0
709     60       retired  university.degree         1         0
1104    60      services  university.degree         1         0
1276    60      services        high.school         1         0
1289    60  entrepreneur           basic.4y         1         0
1345    60  entrepreneur           basic.4y         1         0
1489    60       retired        high.school         1         0
1587    60    technician  university.degree         1         0
1676    60       retired  university.degree         1         0

[3.3] Llamadas con duraci√≥n > 300s (muestra):
    duracion      trabajo            educacion  suscrito
4        307     services          high.school         0
8        380   technician  professional.course         0
16       312  blue-collar             basic.6y         0
17       440  blue-collar             basic.6y         0
18       353  blue-collar             basic.9y         0
22       342      retired          high.school         0
29       362       admin.    university.degree         0
30       348       admin.    university.degree         0
31       386   technician    university.degree         0
35       336       admin.             basic.4y         0

[3.3] Clientes con contactos previos efectivos (muestra):
       previas resultado_prev        trabajo  suscrito
24013        1        failure    blue-collar         0
24019        1        failure       services         1
24076        1        failure         admin.         0
24102        1        failure         admin.         1
24108        1        success         admin.         0
24113        1        failure  self-employed         0
24124        1        failure     technician         0
24135        1        failure         admin.         0
24139        1        failure     management         0
24140        1        failure     technician         0

Shape df_final (listo para exportar): (41174, 21)

4) Exportaci√≥n de datos ‚Äî CSV y Excel

In [7]:
# 4) Exportaci√≥n de datos ‚Äî CSV y Excel

# Rutas de salida (en la misma carpeta del notebook)
csv_path = "bank_marketing_limpio.csv"
xlsx_path = "bank_marketing_limpio.xlsx"

# Exportar
df_final.to_csv(csv_path, index=False)
df_final.to_excel(xlsx_path, index=False)

print("‚úÖ Exportaci√≥n completa")
print("CSV  ->", csv_path)
print("XLSX ->", xlsx_path)

# Verificaci√≥n r√°pida
print("\nVista r√°pida del CSV exportado:")
print(pd.read_csv(csv_path).head())

‚úÖ Exportaci√≥n completa
CSV  -> bank_marketing_limpio.csv
XLSX -> bank_marketing_limpio.xlsx

Vista r√°pida del CSV exportado:
   suscrito  edad    trabajo    educacion estado_civil  hipoteca  prestamo  \
0         0    56  housemaid     basic.4y      married         0         0
1         0    57   services  high.school      married         0         0
2         0    37   services  high.school      married         1         0
3         0    40     admin.     basic.6y      married         0         0
4         0    56   services  high.school      married         0         1

   en_mora   contacto  mes  ... duracion  campana  p_dias  previas  \
0        0  telephone  may  ...      261        1     999        0
1        0  telephone  may  ...      149        1     999        0
2        0  telephone  may  ...      226        1     999        0
3        0  telephone  may  ...      151        1     999        0
4        0  telephone  may  ...      307        1     999        0

   resultado_prev tasa_var_empleo  indice_precio  indice_confianza  euribor3m  \
0     nonexistent             1.1         93.994             -36.4      4.857
1     nonexistent             1.1         93.994             -36.4      4.857
2     nonexistent             1.1         93.994             -36.4      4.857
3     nonexistent             1.1         93.994             -36.4      4.857
4     nonexistent             1.1         93.994             -36.4      4.857

   empleados
0     5191.0
1     5191.0
2     5191.0
3     5191.0
4     5191.0

[5 rows x 21 columns]